.active{
    text-decoration: underline;
}

footer{
    text-align: center;
    color:white;
    padding: 10px;
}

#account_cancel_save, #account_confirm_password, #account_confirm_password1 {
    display: none;
}

#account_email, #account_username, #account_password, #account_password1{
    pointer-events: none; 
}
.img_table{
    width: 50px;
    height: 50px;
}
#user_details_new_ban_id{
    display: none;
}
.img_account{
    width: 25%;
}
