.active{
    text-decoration: underline;
}

footer{
    text-align: center;
    color:white;
    padding: 10px;
}

#account_cancel_save, .account_confirm_password{
    display: none;
}

#email, #username, #password, #password1{
    pointer-events: none; 
}
